<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Disconf.Net.Core" version="1.0.0.42" targetFramework="net46" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="RestSharp" version="106.2.1" targetFramework="net46" />
  <package id="Sigil" version="4.7.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
  <package id="ZooKeeper.Net" version="1.0.0.24" targetFramework="net46" />
</packages>